                <div class="well">
                    <h4>ค้นหาข้อมูล</h4>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model = "searchText">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                    <!-- /.input-group -->

                    <hr/>

                  <!--   <div class="row">
                      <div class="col-lg-4">
                        <div class="input-group">
                          <span class="input-group-addon">
                            <input type="radio" aria-label="..." name="optionsRadios"  ng-click="getFilter('new')">
                            New
                          </span>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="input-group">
                          <span class="input-group-addon">
                            <input type="radio" aria-label="..." name="optionsRadios" ng-click="getFilter('approved')">
                            Approved
                          </span>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="input-group">
                          <span class="input-group-addon">
                            <input type="radio" aria-label="..." name="optionsRadios" ng-click="getFilter('')" checked>
                            All
                          </span>
                        </div>
                      </div>
                    </div> -->

                    
                </div>